.header {
    &-message {
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 0;
        &-content {
            @include widthFit();
            margin: 0 auto;
            background-image: url("../img/icon-info-grey.png");
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 2.25rem;
            p {
                margin-bottom: 0;
                font-size: 17px;
                color: var(--paragraph-color);
            }
            @include media("md") {
                background-position: center top;
                padding-left: 0;
                padding-top: 2rem;
                text-align: center;
            }
        }
    }
    background-color: var(--background-color);
    &-nav {
        padding: 1.5rem 0;
        @include media("xxl") {
            flex-wrap: wrap;
            @include flexCenter();
        }
        @include media("lg") {
            justify-content: space-between;
        }
    }
    #nav {
        margin-left: 5rem;
        @include media("xxl") {
            margin-left: 0;
        }
        .navbar-nav {
            margin: 0 0 0 auto;
            flex-wrap: wrap;
            @include media("xxl") {
                margin: 0 auto;
            }
            @include media("lg") {
                text-align: center;
            }
        }
        .nav-item {
            .dropdown-hover {
                position: relative;
                &-menu {
                    position: absolute;
                    display: none;
                    z-index: 1000;
                    margin-left: 1rem;
                    padding-top: .5rem;
                    @include media("lg") {
                        margin-left: 0;
                        margin-bottom: .5rem;
                    }
                    & > div {
                        padding: 1.5rem 1.75rem;
                        background-color: #f5f5f5;
                        &::before {
                            content: "";
                            background-image: url("../img/dropdown-triangle.png");
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 21px;
                            height: 11px;
                            position: absolute;
                            display: block;
                            top: -11px;
                            left: 10px;
                            @include media("lg") {
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    @include media("lg") {
                        position: unset;
                        text-align: center;
                    }
                }    
                &-item {
                    color: var(--primary-color);
                    transition-duration: 0.15s;
                    font-size: 15px;
                    line-height: 28px;
                    letter-spacing: 0.025rem;
                    font-weight: 600;
                    &:hover {
                        color: var(--highlight-color);
                        text-decoration: none;
                    }
                    @include media("lg") {
                        line-height: 32px;
                    }
                }     
            }
            .nav-link {
                color: var(--menu-color);
                font-size: 17px;
                font-weight: 600;
                padding: 0.75rem 1.125rem;
                text-decoration: none;
                @include media("lg") {
                    margin-right: 0;
                    padding: 0.4rem 0;
                }
            }
            &.active .nav-link, .nav-link:hover {
                color: var(--highlight-color);
            }
        }
        @include media("xxl") {
            padding-left: 0rem;
            padding: 0.75rem 0;
            width: 100%;
            justify-content: center;
        }
        @include media("lg") {
            padding: 1.25rem 0;
        }
    }
    &-contact {
        margin-left: 7.5rem;
        flex-shrink: 0;
        @include media("xxl") {
            margin-left: 0;
        }
        a {
            display: flex;
            justify-content: center;
            padding: 0.25rem 0;
            color: var(--primary-color);
            font-weight: 700;
            font-size: 17px;
            @include media("lg") {
                margin: .5rem 0 0 0;
                padding: 0;
            }
            svg {
                margin-right: .5rem;
            }
        }  
    } 
}