.section {
    padding: 5rem 0 7rem;
    @include media("md") {
        padding: 3rem 0 3rem;
    }
    &-secondary {
        background-color: var(--background-secondary-color);
    }
    &-header {
        &-center > div {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-preTitle {
        background-color: var(--section-preTitle-background-color);
        color: var(--section-preTitle-color);
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 5px;
        padding: .3rem .95rem;
        @include widthFit();
        margin-bottom: 1rem;
        font-weight: 600;
        @include media("md") {
            margin: 0 auto .75rem;
        }
    }
    &-title {
        @include media("md") {
            width: 100%;
        }
        &-center {
            text-align: center !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    &-title h2 {
        font-size: 50px;
        line-height: 70px;
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 3rem;
        @include media("md") {
            text-align: center;
            font-size: 45px;
            line-height: 60px;
            margin-bottom: 2rem;
        }
    }
    &-footer {
        margin-top: 3.75rem;
        @include flexCenter();
        @include media("lg") {
            margin-top: 2.5rem;
        }
        @include media("md") {
            margin-top: 2rem;
        }
    }
}